<ion-header>
  <ion-toolbar>
    <ion-title>Přidat task</ion-title>

    <ion-buttons slot="end">
      <ion-img src="assets/todo-logo.png" class="header-img"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="taskText" placeholder="Úkol..." clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="taskDescription" placeholder="Popis..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Priorita</ion-label>
      <ion-select [(ngModel)]="taskPriority">
        <ion-select-option value="!">Nízká ( ! )</ion-select-option>
        <ion-select-option value="!!">Střední ( !! )</ion-select-option>
        <ion-select-option value="!!!">Vysoká ( !!! )</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="addTask()">Vytvořit task</ion-button>

    <ion-text color="primary">
      <p class="dynamic-text">{{ dynamicText }}</p>
    </ion-text>

    <ion-img src="assets/motivational.png" class="dynamic-image"></ion-img>

  </ion-list>
</ion-content>
