.dynamic-text {
    text-align: center;
    font-size: 0.9rem;  /* Menší text */
    font-style: italic;
    margin-top: 20px;   /* Větší odsazení od tlačítka */
    color: var(--ion-color-primary); /* Zachová barvu primární barvy */
    background: none;   /* Žádné pozadí */
  }
  