<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center">Přidat task</ion-title>
    <ion-buttons slot="end">
      <ion-img src="assets/todo-logo.png" class="header-img"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="taskText" placeholder="Úkol..." clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea [(ngModel)]="taskDescription" placeholder="Popis..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Priorita</ion-label>
          <ion-select [(ngModel)]="taskPriority">
            <ion-select-option value="!">Nízká ( ! )</ion-select-option>
            <ion-select-option value="!!">Střední ( !! )</ion-select-option>
            <ion-select-option value="!!!">Vysoká ( !!! )</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Deadline</ion-label>
          <ion-button expand="full" color="medium" (click)="toggleDeadlinePicker()">
            Vybrat datum
          </ion-button>
        </ion-item>
        
        <ion-item *ngIf="showDeadlinePicker">
          <ion-datetime [(ngModel)]="taskDueDate" display-format="DD.MM.YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Přidat obrázek</ion-label>
          <ion-button color="secondary" (click)="takePhoto()">📷 Vyfotit</ion-button>
        </ion-item>
        
        <ion-item *ngIf="taskImage">
          <ion-thumbnail>
            <img [src]="taskImage" />
          </ion-thumbnail>
        </ion-item>

        <ion-item>
          <ion-label>Kategorie</ion-label>
          <ion-select [(ngModel)]="selectedCategory">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="newCategory" placeholder="Nová kategorie"></ion-input>
          <ion-button color="success" (click)="addCategory()">Přidat</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>Odstranit kategorii</ion-label>
          <ion-select [(ngModel)]="categoryToDelete">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
          <ion-button color="danger" (click)="deleteCategory()">Smazat</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary" (click)="addTask()">Vytvořit task</ion-button>
  
  <ion-text color="primary">
    <p class="text-center text-lg">{{ dynamicText }}</p>
  </ion-text>
</ion-content>
