<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><strong>To-Do</strong></ion-label>
    </ion-list-header>

    <ion-item *ngFor="let task of tasks; let i = index">
      <ion-label>{{ task }}</ion-label>
      <ion-button color="success" (click)="completeTask(i)">Done</ion-button>
      <ion-button color="danger" (click)="deleteTask(i)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
