.overdue-task {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .text-center {
    text-align: center;
  }

  .task-image {
    width: 100%; // Obrázek bude mít plnou šířku kontejneru
    max-width: 300px; // Maximální šířka
    height: auto; // Zachování poměru stran
    display: block;
    margin: 10px auto; // Zarovnání na střed
    border-radius: 10px; // Zaoblení rohů
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); // Jemný stín
  }
  
  